# Τεχνικές Eξόρυξης Δεδομένων - Άσκηση 1
_Βαργιάμης Μιχαήλ, sdi1300018_

---

In [1]:
import collections
import copy
import itertools
import numpy as np
import pandas as pd

In [2]:
netflix_titles = "netflix_titles.csv"
imdb_movies = "IMDb movies.csv"
imdb_ratings = "IMDb ratings.csv"

In [3]:
df1 = pd.read_csv(netflix_titles)
df2 = pd.read_csv(imdb_movies, low_memory=False)
df3 = pd.read_csv(imdb_ratings)

In [4]:
def replace_nan(df):
    #for field, value in df.isna().any().items():
    #    df[field] = df[field].fillna("No " + field)
    for i in df.columns:
        df[i] = df[i].fillna("None")

In [5]:
replace_nan(df1)
replace_nan(df2)
replace_nan(df3)

In [6]:
df1 = df1.head(100)
df1

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,None,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
95,s96,TV Show,28 Moons,None,"Jin-sung Yang, Kyu-jong Kim, Tae-hwan Kang, Ge...",South Korea,"June 10, 2017",2016,TV-PG,1 Season,"International TV Shows, Korean TV Shows, Roman...",When her fiancé acts strangely upon receiving ...
96,s97,Movie,3 Days to Kill,McG,"Kevin Costner, Amber Heard, Hailee Steinfeld, ...","United States, France, Serbia","December 1, 2020",2014,PG-13,117 min,Action & Adventure,A terminally ill secret agent accepts a risky ...
97,s98,Movie,3 Deewarein,Nagesh Kukunoor,"Naseeruddin Shah, Jackie Shroff, Juhi Chawla, ...",None,"December 31, 2019",2003,TV-MA,121 min,"Dramas, International Movies, Thrillers",A reporter interviews three convicts on death ...
98,s99,Movie,3 Generations,Gaby Dellal,"Elle Fanning, Naomi Watts, Susan Sarandon, Tat...",United States,"August 28, 2017",2015,PG-13,92 min,"Dramas, LGBTQ Movies",When teenage Ray begins transitioning from fem...
99,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,"January 5, 2019",2016,TV-PG,124 min,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...

In [7]:
df2 = df2.head(10)
df2

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,None,None,None,None,1,2
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,None,None,None,7,7
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",None,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,None,None,None,None,5,2
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,None,None,None,25,3
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,None,None,None,None,31,14
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,484,None,None,None,None,13,5
6,tt0002423,Madame DuBarry,Madame DuBarry,1919,1919-11-26,"Biography, Drama, Romance",85,Germany,German,Ernst Lubitsch,...,"Pola Negri, Emil Jannings, Harry Liedtke, Edua...","The story of Madame DuBarry, the mistress of L...",6.8,753,None,None,None,None,12,9
7,tt0002445,Quo Vadis?,Quo Vadis?,1913,1913-03-01,"Drama, History",120,Italy,Italian,Enrico Guazzoni,...,"Amleto Novelli, Gustavo Serena, Carlo Cattaneo...","An epic Italian film ""Quo Vadis"" influenced ma...",6.2,273,ITL 45000,None,None,None,7,5
8,tt0002452,Independenta Romaniei,Independenta Romaniei,1912,1912-09-01,"History, War",120,Romania,None,"Aristide Demetriade, Grigore Brezeanu",...,"Aristide Demetriade, Constanta Demetriade, Con...",The movie depicts the Romanian War of Independ...,6.7,198,ROL 400000,None,None,None,4,1
9,tt0002461,Richard III,Richard III,1912,1912-10-15,Drama,55,"France, USA",English,"André Calmettes, James Keane",...,"Robert Gemp, Frederick Warde, Albert Gardner, ...",Richard of Gloucester uses manipulation and mu...,5.5,225,$ 30000,None,None,None,8,1

### Ερώτημα 1

In [8]:
# print(df1.type.describe())
print(df1.type.value_counts())

Movie      79
TV Show    21
Name: type, dtype: int64

### Ερώτημα 2

In [9]:
# print(df1.query('release_year > 2015').type.describe())
print(df1.query('release_year > 2015').type.value_counts())

Movie      48
TV Show    18
Name: type, dtype: int64

### Ερώτημα 3

In [10]:
# print(df1.country.describe())
print(df1.country.value_counts())

United States                         33
India                                 11
South Korea                            6
United Kingdom                         5
Turkey                                 5
None                                   4
Indonesia                              4
Canada                                 3
Spain                                  3
Nigeria                                2
Mexico                                 2
Romania                                2
Italy                                  2
France                                 2
Norway, Iceland, United States         1
Poland, United States                  1
Brazil                                 1
United States, Germany                 1
Argentina                              1
Hong Kong, China, Singapore            1
Japan                                  1
South Africa, Nigeria                  1
Iceland                                1
United States, France, Serbia          1
Thailand                               1
South Africa, China, United States     1
United States, South Africa            1
Singapore                              1
Portugal, Spain                        1
Egypt                                  1
Name: country, dtype: int64

### Ερώτημα 4

In [11]:
df0 = pd.DataFrame(columns = list(df2.columns))
for index, row in df2.iterrows():
    countries = [s.strip() for s in row.country.split(',')]
    genres = [s.strip() for s in row.genre.split(',')]
    for c, g in itertools.product(countries, genres):
        temp = copy.deepcopy(row)
        temp.country = c
        temp.genre = g
        df0 = df0.append(temp)

df0.groupby("country").genre.unique()

country
Australia               [Biography, Crime, Drama]
Denmark                                   [Drama]
France                                    [Drama]
Germany               [Drama, Biography, Romance]
Italy        [Adventure, Drama, Fantasy, History]
Romania                            [History, War]
USA          [Romance, Drama, History, Biography]
Name: genre, dtype: object

### Ερώτημα 5

In [12]:
from collections import Counter
top_actors = {}
for cast, countries in zip(df1.cast, df1.country):
    #print(c, g)
    for country in [s.strip() for s in countries.split(',')]:
        if country not in top_actors:
            top_actors[country] = [s.strip() for s in cast.split(',')]
        else:
            top_actors[country].extend([s.strip() for s in cast.split(',')])

            
for country, actor_list in top_actors.items():
    if country == "None":
        continue
    counter = Counter(actor_list)
    #print(counter)
    most_common = counter.most_common()
    if most_common[0][0] != "None":
        print("%20s %30s" % (country + ":", most_common[0]))
    else:
        print("%20s %30s" % (country + ":", most_common[1]))

             Brazil:             ('João Miguel', 1)
             Mexico:           ('Demián Bichir', 1)
          Singapore:               ('Tedd Chan', 1)
      United States:              ('Kate Walsh', 4)
             Turkey:       ('Erdal Beşikçioğlu', 1)
              Egypt:            ('Amina Khalil', 1)
              India:             ('Divya Dutta', 1)
             Poland:      ('Robert Więckiewicz', 1)
           Thailand:      ('Artiwara Kongmalai', 1)
            Nigeria:              ('Sadiq Daba', 1)
             Norway:    ('Anders Danielsen Lie', 1)
            Iceland:    ('Anders Danielsen Lie', 1)
     United Kingdom:               ('Lee Dixon', 1)
              Japan:           ('Bryson Baugus', 1)
        South Korea:               ('Yoo Ah-in', 1)
              Italy:            ('Helen Mirren', 1)
             Canada:              ('Jake Short', 1)
          Indonesia:          ('Adipati Dolken', 2)
            Romania:            ('Flavia Hojda', 2)
              Spain:          ('Karra Elejalde', 2)
       South Africa:               ('Ayo Makun', 1)
             France:           ('Franck Dubosc', 1)
           Portugal:             ('Dani Rovira', 1)
          Hong Kong:              ('Donnie Yen', 1)
              China:              ('Donnie Yen', 1)
            Germany:            ('Bruce Willis', 1)
          Argentina:         ('Diego Capusotto', 1)
             Serbia:           ('Kevin Costner', 1)

### Ερώτημα 6